*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    padding-top: 60px;
    .icon1{
        color: blue;
        font-size: 40px;
        padding-bottom: 30px;
    }
}

#main{
    .cards{
        text-align: center;
        margin: 20px;
    }
}
